<div class="nav-navicon admin-main admin-sidebar">


    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;">
        {if condition="$Think.session.Dept_id==0"}欢迎系统管理员:
        {elseif condition="$Think.session.Dept_id==1"}欢迎客服部员工:
        {elseif condition="$Think.session.Dept_id==2"}欢迎物流部员工:
        {elseif condition="$Think.session.Dept_id==3"}欢迎实验室员工:
        {else \}访客:
        {/if}
        {$Think.session.login_admin} 您好</div>
    <div class="sideMenu">

        <h3 class="am-icon-flag on"><em></em> <a href="{:url('Lists/index')}">工单管理</a></h3>
        <ul>
            <li><a href="{:url('Customer_add/index')}">添加</a></li>
            <li><a href="{:url('Customerlist/index')}">列表</a></li>
            <li>商品回收站</li>
        </ul>




    </div>
    <!-- sideMenu End -->